@charset "utf-8";
@import url(reset.css);
@import url(common.css);
/* 웹폰트 */
@import url(/font/webfont_trans/stylesheet.css);


html,
body {
    font-size: 10px;
    font-family: 'Noto Sans KR';
}
/* 편리한 rem계산을 위해 최상위 선택자에게
font-size:10px로 초기값 설정. */


.header {
    width: 100%;
    height: 7.3rem;
    position: fixed;
    top: 0;
    left: 0;
    /* 헤더 고정 */
}

.header.active {
    background-color: rgb(230, 252, 237);
    /* active: 스크롤 일정부분 지났을때 bg color */
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 로고 가운데 배치 */

}

.header .inner .logo a {
    height: 100%;
    display: block;
}

.header .inner .logo a img {
    height: 100%;
}

.header .inner .menu_btn a {
    height: 100%;
    display: block;
}

.header .inner .menu_btn a img {
    height: 100%;
}

.header .inner nav {
    width: 30rem;
    height: 100%;
    background-color: var(--color-nav-bg);
    position: fixed;
    left: -100%;
    top: 0;
    display: none;
    transition: left 0.7s linear;
    overflow-y: auto;
    /* 내용이 넘치면 스크롤바 생성 */
}

.header .inner nav::-webkit-scrollbar {
    display: none;
}


.header .inner nav.active {
    display: block;
    left: 0;
}

.header .inner nav .gnb {}

.header .inner nav .gnb>li {}
.header .inner nav .gnb>li:nth-child(1) a.depth-01::before,
.header .inner nav .gnb>li:nth-child(3) a.depth-01::before,
.header .inner nav .gnb>li:nth-child(5) a.depth-01::before{
    display: none;
}

.header .inner nav .gnb>li .depth-01 {
    font-size: var(--fontSize-nav-depth-01);
    padding: 1.4rem 3rem;
    display: block;
    /* a태그이므로 */
    border-bottom: 1px solid rgb(233, 227, 210, 0.2);
    position: relative;
}

.header .inner nav .gnb>li .depth-01::before {
    /* 화살표: 가상요소 선택자로 아이콘 넣기. w,h값과 position이 있어야 함 */
    content: '';
    width: 2.2rem;
    height: 100%;
    background: url('../img/icon/arrow_btn 2.png') center center / 100% no-repeat;
    position: absolute;
    top: 0;
    right: 2rem;
}

.header .inner nav .gnb>li a.depth-01.active::before {
    transform: rotate(180deg); /* 화살표 180도 회전 */
}

.header .inner nav .gnb>li .depth-02 {
    font-size: var(--fontSize-nav-depth-02);
    padding: 1.1rem 3rem;
    margin: 0 0 0 1.3rem;

    border-bottom: 1px solid rgb(233, 227, 210, 0.2);
    display: none;
}

.header .inner nav .gnb>li .depth-02 li {
    height: 5rem; /* h값 있어야함 */
    line-height: 5rem;

}
.header .inner nav .gnb>li .depth-02 li a {
    display: block;
    
    
}




.main_visual {
    height: 150vh;
}

.header .inner .util_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .inner .util_wrap .search_wrap button {
    /* 검색 버튼 */
    font-size: var(--fontSize-util);
    width: 4rem;
    height: 2.1rem;
    cursor: pointer;
}

.header .inner .util_wrap .search_wrap .off {
    display: none;
}

.header .inner .util_wrap .search_box {
    width: 20%;
    position: absolute;
    top: 7.3rem;
    right: 6.5rem;
    display: none;
}

.header .inner .util_wrap .search_box input {
    width: 100%;
    height: 4.5rem;
    padding: 0 1.4rem;
    /* 문구에 패딩적용 */
}

.header .inner .util_wrap .util {
    display: flex;
    gap: 40px;
    font-size: var(--fontSize-util);
}

/* main_visual */
.main_visual {
    height: 100vh;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text_wrap {}

.main_visual .text_wrap .title_wrap {}

.main_visual .text_wrap .title_wrap h1 {}

.main_visual .text_wrap .title_wrap p {}

.main_visual .text_wrap .btn_wrap {}

.main_visual .text_wrap .btn_wrap .btn_text {}

.main_visual .text_wrap .btn_wrap .btn_text a {}

.main_visual .text_wrap .btn_wrap .btn_icon {}

.main_visual .text_wrap .btn_wrap .btn_icon a {}

.main_visual .text_wrap .btn_wrap .btn_icon a img {}