@charset "utf-8";
@import url(reset.css);
@import url(common.css);
/* 웹폰트 */
@import url(/font/webfont_trans/stylesheet.css);

html {
    font-size: 10px;
    font-family: 'Noto Sans KR';
}

body {
    position: relative;
}

/* 편리한 rem계산을 위해 최상위 선택자에게
font-size:10px로 초기값 설정. */


.header {
    width: 100%;
    height: 7.3rem;
    position: fixed;
    top: 0;
    left: 0;
    /* 헤더 고정 */
    z-index: 999999;
}

.header.active {
    background-color: rgb(230, 252, 237);
    /* active: 스크롤 일정부분 지났을때 bg color */
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 로고 가운데 배치 */

}

.header .inner .logo a {
    height: 100%;
    display: block;
}

.header .inner .logo a img {
    height: 100%;
}

.header .inner .menu_btn a {
    height: 100%;
    display: block;
}

.header .inner .menu_btn a img {
    height: 100%;
}

.header .inner nav {
    width: 30rem;
    height: 100%;
    background-color: var(--color-nav-bg);
    position: fixed;
    left: -100%;
    top: 0;
    display: none;
    transition: left 0.7s linear;
    overflow-y: auto;
    /* 내용이 넘치면 스크롤바 생성 */
}

.header .inner nav::-webkit-scrollbar {
    display: none;
}


.header .inner nav.active {
    display: block;
    left: 0;
}

.header .inner nav .close_btn {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.header .inner nav .close_btn img {
    height: 2.4rem;
}

.header .inner nav .gnb>li {}

.header .inner nav .gnb>li:nth-child(1) a.depth-01::before,
.header .inner nav .gnb>li:nth-child(3) a.depth-01::before,
.header .inner nav .gnb>li:nth-child(5) a.depth-01::before {
    display: none;
}

.header .inner nav .gnb>li .depth-01 {
    font-size: var(--fontSize-nav-depth-01);
    padding: 1.4rem 3rem;
    display: block;
    /* a태그이므로 */
    border-bottom: 1px solid rgb(233, 227, 210, 0.2);
    position: relative;
}

.header .inner nav .gnb>li .depth-01::before {
    /* 화살표: 가상요소 선택자로 아이콘 넣기. w,h값과 position이 있어야 함 */
    content: '';
    width: 2.2rem;
    height: 100%;
    background: url('../img/icon/arrow_btn 2.png') center center / 100% no-repeat;
    position: absolute;
    top: 0;
    right: 2rem;
}

.header .inner nav .gnb>li a.depth-01.active::before {
    transform: rotate(180deg);
    /* 화살표 180도 회전 */
}

.header .inner nav .gnb>li .depth-02 {
    font-size: var(--fontSize-nav-depth-02);
    padding: 1.1rem 3rem;
    margin: 0 0 0 1.3rem;

    border-bottom: 1px solid rgb(233, 227, 210, 0.2);
    display: none;
}

.header .inner nav .gnb>li .depth-02 li {
    height: 5rem;
    /* h값 있어야함 */
    line-height: 5rem;

}

.header .inner nav .gnb>li .depth-02 li a {
    display: block;
}


/* main_visual */
.main_visual {
    height: 150vh;
    margin-bottom: var(--margin-b-lg);
}

.header .inner .util_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .inner .util_wrap .search_wrap button {
    /* 검색 버튼 */
    font-size: var(--fontSize-util);
    width: 5rem;
    height: 2.1rem;
    cursor: pointer;
}

.header .inner .util_wrap .search_wrap .off {
    display: none;
}

.header .inner .util_wrap .search_box {
    width: 20%;
    position: absolute;
    top: 7.3rem;
    right: 6.5rem;
    display: none;
}

.header .inner .util_wrap .search_box input {
    width: 100%;
    height: 4.5rem;
    padding: 0 1.4rem;
    /* 문구에 패딩적용 */
}

.header .inner .util_wrap .util {
    display: flex;
    gap: 40px;
    font-size: var(--fontSize-util);
}

/* main_visual */
.main_visual {
    height: 100vh;
    position: relative;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .text_wrap {
    color: var(--color-text-white);
    position: absolute;
    bottom: 14.3rem;
    left: 50%;
    transform: translate(-50%);
}

.main_visual .text_wrap .title_wrap {
    text-align: center;
    margin-bottom: 5rem;
}

.main_visual .text_wrap .title_wrap span {
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 6rem;
    line-height: 140%;
}

.main_visual .text_wrap .title_wrap p {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 140%;
}

.main_visual .text_wrap .btn_wrap {
    display: flex;
    justify-content: center;
}

.main_visual .text_wrap .btn_wrap .btn_text {
    font-family: 'Times New Roman';
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 140%;
}

.main_visual .text_wrap .btn_wrap .btn_text a {
    width: 100%;
    display: block;
}

.main_visual .text_wrap .btn_wrap .btn_icon {
    height: 3rem;
}

.main_visual .text_wrap .btn_wrap .btn_icon a {
    height: 100%;
}

.main_visual .text_wrap .btn_wrap .btn_icon a img {
    height: 100%;
    display: block;
}

/* best_seller */
.best_seller {
    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--margin-b-lg);
}

.best_seller .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
    margin-bottom: var(--margin-b-sm);
}

.best_seller .swiper-wrapper .swiper-slide {
    width: 32.22%;
    display: flex;
    flex-direction: column;
    /* 세로 배치 */
    height: auto;
    /* 내용물에 따라 높이 자동 조절 */
}

.best_seller .swiper-wrapper .swiper-slide:hover .des_wrap {
    /* display: flex; */
    /* block, flex */
    opacity: 1;
    visibility: visible;
}

.best_seller .swiper-wrapper .swiper-slide .image_sec {
    width: 100%;
}

.best_seller .swiper-wrapper .swiper-slide .image_sec:hover {
    content: 'url(img/카모마일메들리02.jpg)';
}

.best_seller .swiper-wrapper .swiper-slide .image_sec img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec {
    width: 100%;
    flex-grow: 1;
    /* 컨테이너 크기가 늘어나면 해당 class는 남은 공간을 전부 채우기 위해 유연하게 늘어남. */
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .title_sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .title_sec .cart {
    width: 3.2rem;
    height: 3.2rem;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .title_sec .cart a {
    display: block;
    height: 100%;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .title_sec .cart a img {
    height: 100%;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .des_wrap {
    width: 100%;
    padding: 1rem;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap {
    gap: 0.6rem;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap p {
    margin-bottom: 0.6rem;
}

.best_seller .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-text-bl);
}

.best_seller .shopall_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.best_seller .shopall_btn button {
    padding: 1.4rem 4.5rem;
    font-size: var(--fontSize-18);

}

.best_seller .shopall_btn button:hover {
    background-color: var(--color-btn-bg);
    color: var(--color-text-white);
}

/* new_arrivals */
.new_arrivals {
    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--margin-b-lg);
}

.new_arrivals .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
    margin-bottom: var(--margin-b-sm);
}

.new_arrivals .swiper-wrapper .swiper-slide {
    width: 32.22%;
    display: flex;
    flex-direction: column;
    /* 세로 배치 */
    height: auto;
    /* 내용물에 따라 높이 자동 조절 */
}

.new_arrivals .swiper-wrapper .swiper-slide .image_sec {
    width: 100%;
}

.new_arrivals .swiper-wrapper .swiper-slide .image_sec:hover {
    content: 'url(img/카모마일메들리02.jpg)';
}

.new_arrivals .swiper-wrapper .swiper-slide .image_sec img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec {
    width: 100%;
    flex-grow: 1;
    /* 컨테이너 크기가 늘어나면 해당 class는 남은 공간을 전부 채우기 위해 유연하게 늘어남. */
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .title_sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .title_sec .cart {
    width: 3.2rem;
    height: 3.2rem;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .title_sec .cart a {
    display: block;
    height: 100%;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .title_sec .cart a img {
    height: 100%;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .des_sec {
    width: 100%;
    padding: 1rem;
    /* display: none; */
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap {
    gap: 0.6rem;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap p {
    margin-bottom: 0.6rem;
}

.new_arrivals .swiper-wrapper .swiper-slide .text_sec .des_sec .des_wrap span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-text-bl);
}

.new_arrivals .shopall_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new_arrivals .shopall_btn button {
    padding: 1.4rem 4.5rem;
    font-size: var(--fontSize-18);

}

.new_arrivals .shopall_btn button:hover {
    background-color: var(--color-btn-bg);
    color: var(--color-text-white);
}

/* tea_type */
.tea_type {
    margin-bottom: var(--margin-b-lg);
}

.tea_type .inner {
    padding: 0 6rem;
}

.tea_type .inner .category {
    width: 100%;
    display: flex;
    gap: 5.6rem;
    margin-bottom: 10rem;
}

.tea_type .inner .category li {
    font-family: 'Times New Roman';
    font-size: var(--fontSize-tea-type-category);
    font-weight: 400;
    line-height: 140%;
}

.tea_type .inner .category li a {
    padding: 0 1rem 0 0;
}

.tea_type .inner .category li a:hover {
    color: var(--color-text-beige);
}

.tea_type .inner .category li.active {
    color: var(--color-text-beige);
}

.tea_type .inner .list {
    width: 100%;
    height: 73.1rem;
    display: flex;
    justify-content: space-between;
    display: none;
}

.tea_type .inner .list.active {
    display: flex;
}

.tea_type .inner .list .text_section {
    width: 46.21%;
}

.tea_type .inner .list .text_section .text_wrap {
    margin-bottom: 8rem;
}

.tea_type .inner .list .text_section .text_wrap .title_wrap {
    color: var(--color-text-bl);
}

.tea_type .inner .list .text_section .text_wrap .title_wrap p {
    font-size: var(--fontSize-18);
    font-weight: 300;
    line-height: 140%;
    letter-spacing: -2.5%;
}

.tea_type .inner .list .text_section .text_wrap .title_wrap h1 {
    font-weight: 700;
}

.tea_type .inner .list .text_section .text_wrap .des_wrap {
    font-size: var(--fontSize-18);
    font-weight: 300;
    line-height: 140%;
    letter-spacing: -2.5%;
}

.tea_type .inner .list .text_section .viwmore_btn button {
    padding: 1.4rem 3rem;
    font-size: var(--fontSize-14);
}

.tea_type .inner .list .text_section .viwmore_btn button:hover {
    background-color: var(--color-btn-bg);
    color: var(--color-text-white);
}

.tea_type .inner .list .image_section {
    width: 44.39%;
    height: 100%;
}

.tea_type .inner .list .image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* insta */
.insta {
    width: 100%;
    height: 55.4rem;
    background-color: var(--color-nav-bg);
    margin-bottom: 20rem;
}

.insta .inner {
    width: 100%;
    padding: 6rem 2rem 7.8rem 2rem;
}
.insta .inner .title {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 140%;
    color: var(--color-text-beige);
    margin-bottom: 2.8rem;
}

.insta .inner .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.insta .inner .list .item {
    width: 100%; /* 18.61%; */
    display: flex;
    justify-content: space-between;
}
.insta .inner .list .item a {
    width: 100%;
}
.insta .inner .list .item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* vedio */
.vedio {
    margin-bottom: 20rem;
}
.vedio .inner {
    width: 70%;
    margin: 0 auto;
    /* padding: 0 6rem; */
}

.vedio .inner video {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}







/* 미디어쿼리 */
@media screen and (max-width: 959px) {
    .best_seller .swiper-wrapper {
        flex-wrap: nowrap;
        gap: 3rem;
    }
}

/* 해상도 959px이하일 때 */
/* .list가 스와이퍼 슬라이드로 변함 */